<p id="notice"><%= notice %></p>

<p>
  <strong>Sigla:</strong>
  <%= @turma.sigla %>
</p>

<p>
  <strong>Dias da semana:</strong>
  <%= @turma.dias_da_semana %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @turma.horario %>
</p>

<p>
  <strong>Status:</strong>
  <%= @turma.status %>
</p>

<%= link_to 'Edit', edit_turma_path(@turma) %> |
<%= link_to 'Back', turmas_path %>
