<p id="notice"><%= notice %></p>

<p>
  <strong>Cr:</strong>
  <%= @aluno.cr %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @aluno.matricula %>
</p>

<%= link_to 'Edit', edit_aluno_path(@aluno) %> |
<%= link_to 'Back', alunos_path %>
