<%= form_with(model: pre_requisito, local: true) do |form| %>
  <% if pre_requisito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pre_requisito.errors.count, "error") %> prohibited this pre_requisito from being saved:</h2>

      <ul>
      <% pre_requisito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_id %>
    <%= form.text_field :id_id %>
  </div>

  <div class="field">
    <%= form.label :materia_id %>
    <%= form.number_field :materia_id %>
  </div>

  <div class="field">
    <%= form.label :accept %>
    <%= form.check_box :accept %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
