<p id="notice"><%= notice %></p>

<h1>Pre Requisitos</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Materia</th>
      <th>Accept</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pre_requisitos.each do |pre_requisito| %>
      <tr>
        <td><%= pre_requisito.id %></td>
        <td><%= pre_requisito.materia_id %></td>
        <td><%= pre_requisito.accept %></td>
        <td><%= link_to 'Show', pre_requisito %></td>
        <td><%= link_to 'Edit', edit_pre_requisito_path(pre_requisito) %></td>
        <td><%= link_to 'Destroy', pre_requisito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pre Requisito', new_pre_requisito_path %>
