<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @pre_requisito.id %>
</p>

<p>
  <strong>Materia:</strong>
  <%= @pre_requisito.materia_id %>
</p>

<p>
  <strong>Accept:</strong>
  <%= @pre_requisito.accept %>
</p>

<%= link_to 'Edit', edit_pre_requisito_path(@pre_requisito) %> |
<%= link_to 'Back', pre_requisitos_path %>
