<p id="notice"><%= notice %></p>

<p>
  <strong>Departamento:</strong>
  <%= @materium.departamento %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @materium.nome %>
</p>

<%= link_to 'Edit', edit_materium_path(@materium) %> |
<%= link_to 'Back', materia_path %>
